<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application>
        <activity
            android:name="app.aaps.pump.insight.app_layer.activities.InsightAlertActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/pump_alert"
            android:launchMode="singleInstance"
            android:theme="@style/InsightAlertDialog" />

        <service android:name="app.aaps.pump.insight.connection_service.InsightConnectionService" />
        <service
            android:name="app.aaps.pump.insight.InsightAlertService"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>