<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application android:supportsRtl="true">
        <activity
            android:name=".activities.DiaconnG8HistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DiaconnG8UserOptionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DiaconnG8BLEScanActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.plugins.PumpDiaconnG8.activities.DiaconnG8BLEScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DiaconnG8Service"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>