<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application>

        <activity
            android:name=".setupwizard.SetupWizardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_setup_wizard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".maintenance.activities.LogSettingActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".maintenance.activities.PrefImportListActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

    </application>
</manifest>