<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:supportsRtl="true">
        <activity
            android:name=".ui.wizard.activation.DashPodActivationWizardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.wizard.deactivation.DashPodDeactivationWizardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.DashPodManagementActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.DashPodHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>
</manifest>