<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:supportsRtl="true">

        <activity
            android:name=".widget.WidgetConfigureActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Translucent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name=".widget.BgGraphWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bg_graph_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.CompactBgWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/compact_bg_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.SmallWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_widget_info" />
        </receiver>

        <activity
            android:name=".activities.ErrorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:showWhenLocked="true"
            android:theme="@style/Theme.MaterialComponents.Translucent"
            android:turnScreenOn="true" />

    </application>

</manifest>