*.iml
.gradle
/local.properties
.DS_Store
*/jacoco.exec
*/output-metadata.json
/build
/captures
/java_pid*
*.apk
build/
!.idea/dictionaries/project-dictionary.xml
.idea/*
!.idea/codeStyles/
full/
app/com.crashlytics.settings.json
app/session_analytics.tap
.project
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.settings/org.eclipse.buildship.core.prefs
wear/.classpath
wear/.settings/org.eclipse.buildship.core.prefs
app/aapsclient/*
app/aapsclient2/*
app/pumpcontrol/*
wear/aapsclient/*
wear/aapsclient2/*
wear/pumpcontrol/*
.kotlin/*
/*.log
*.preferences_pb
/buildSrc/.kotlin
.claude/settings.local.json
/CLAUDE.md
