*.iml
.gradle
/local.properties
.DS_Store
app/jacoco.exec
/build
/captures
*.apk
build/
.idea/*
!.idea/codeStyles/
full/
debug/
release/
app/com.crashlytics.settings.json
app/session_analytics.tap
.project
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.settings/org.eclipse.buildship.core.prefs
wear/.classpath
wear/.settings/org.eclipse.buildship.core.prefs
