<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.eveningoutpost.dexdrip" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="info.nightscout.client.NEW_TREATMENT" />
        </intent>
        <intent>
            <action android:name="info.nightscout.client.NEW_DEVICESTATUS" />
        </intent>
        <intent>
            <action android:name="info.nightscout.client.NEW_PROFILE" />
        </intent>
        <intent>
            <action android:name="info.nightscout.client.NEW_SGV" />
        </intent>
        <intent>
            <action android:name="com.eveningoutpost.dexdrip.NewCalibration" />
        </intent>
    </queries>
</manifest>