<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name="info.nightscout.aaps.pump.common.ui.PumpBLEConfigActivity"
            android:theme="@style/AppTheme"
            android:exported="false">
            <intent-filter>
                <action android:name="info.nightscout.aaps.pump.common.ui.PumpBLEConfigActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="info.nightscout.aaps.pump.common.ui.PumpHistoryActivity" />

    </application>

</manifest>
