<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    
    <application>
        <activity
            android:name=".ui.MedtrumActivity"
            android:theme="@style/AppTheme" />
        <service
            android:name=".services.MedtrumService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
