<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity android:name="info.nightscout.androidaps.activities.TDDStatsActivity" />
        <activity
            android:name="info.nightscout.androidaps.activities.BolusProgressHelperActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="info.nightscout.androidaps.activities.ErrorHelperActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

    </application>
</manifest>
