<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".watchfaces.BIGChart"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_big_chart"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_bigchart" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.NOChart"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_no_chart"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_nochart" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Home"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_graph" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Home2"
            android:allowEmbedded="true"
            android:label="AAPSv2"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_graph_2" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Cockpit"
            android:allowEmbedded="true"
            android:label="AAPS(Cockpit)"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_cockpit" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Steampunk"
            android:allowEmbedded="true"
            android:label="AAPS(Steampunk)"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_steampunk" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.LargeHome"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_large"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_dark" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".watchfaces.CircleWatchface"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_circle"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_circle" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service android:name=".data.ListenerService">
            <intent-filter>
                <!-- <action android:name="com.google.android.gms.wearable.BIND_LISTENER" /> -->
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_data" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_data_resend" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_cancel_bolus" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_confirmactionstring" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_initiateactionstring" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/openwearsettings" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/sendstatustowear" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/sendpreferencestowear" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_basal" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_bolusprogress" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_actionconfirmationrequest" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_changeconfirmationrequest" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_cancelnotificationrequest" />
            </intent-filter>
        </service>

        <activity
            android:name=".interaction.menus.MainMenuActivity"
            android:label="@string/label_actions_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interaction.AAPSPreferences"
            android:label="SETTINGS">
        </activity>
        <activity
            android:name=".interaction.actions.WizardActivity"
            android:label="Wizard">
        </activity>
        <activity
            android:name=".interaction.menus.FillMenuActivity"
            android:label="Fillmenu">
        </activity>
        <activity
            android:name=".interaction.menus.StatusMenuActivity"
            android:label="Status">
        </activity>
        <activity
            android:name=".interaction.actions.BolusActivity"
            android:label="Bolus">
        </activity>
        <activity
            android:name=".interaction.actions.CPPActivity"
            android:label="CPP">
        </activity>
        <activity
            android:name=".interaction.actions.AcceptActivity"
            android:launchMode="singleInstance"
            android:label="ACCEPT">
        </activity>
        <activity
            android:name=".interaction.actions.FillActivity"
            android:label="Fill">
        </activity>
        <activity
            android:name=".interaction.actions.ECarbActivity"
            android:label="Fill">
        </activity>
        <activity
            android:name=".interaction.actions.TempTargetActivity"
            android:label="TempTarget">
        </activity>
    </application>
</manifest>
