<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".Aaps"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".watchfaces.BIGChart"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_big_chart"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_bigchart" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_bigchart" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.NOChart"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_no_chart"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_nochart" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_nochart" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Home"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_graph" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_home" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Home2"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_v2"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_graph_2" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_home2" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Cockpit"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_cockpit"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_cockpit" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_cockpit" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.Steampunk"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_steampunk"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_steampunk" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_steampunk" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.LargeHome"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_large"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_dark" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_largehome" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".watchfaces.CircleWatchface"
            android:allowEmbedded="true"
            android:label="@string/label_xdrip_circle"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_circle" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_circle" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.DigitalStyle"
            android:allowEmbedded="true"
            android:label="@string/label_digitalstyle"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_digitalstyle" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="watch_face_configuration_digitalstyle" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service android:name=".data.ListenerService">
            <intent-filter>
                <!-- <action android:name="com.google.android.gms.wearable.BIND_LISTENER" /> -->
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_data"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_data_resend"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_cancel_bolus"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_confirmactionstring"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_initiateactionstring"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/openwearsettings"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/sendstatustowear"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/sendpreferencestowear"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_basal"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_bolusprogress"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_actionconfirmationrequest"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_changeconfirmationrequest"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/nightscout_watch_cancelnotificationrequest"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".complications.LongStatusComplication"
            android:icon="@drawable/ic_aaps_full"
            android:label="Full Status"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.LongStatusFlippedComplication"
            android:icon="@drawable/ic_aaps_full"
            android:label="Full Status (flipped)"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.SgvComplication"
            android:icon="@drawable/ic_sgv"
            android:label="Blood Glucose"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrCobIobComplication"
            android:icon="@drawable/ic_br_cob_iob"
            android:label="BR, CoB &amp; IoB"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobIobComplication"
            android:icon="@drawable/ic_cob_iob"
            android:label="CoB &amp; IoB"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobIconComplication"
            android:icon="@drawable/ic_carbs"
            android:label="CoB Icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobDetailedComplication"
            android:icon="@drawable/ic_cob_detailed"
            android:label="CoB Detailed"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.IobIconComplication"
            android:icon="@drawable/ic_ins"
            android:label="IoB Icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.IobDetailedComplication"
            android:icon="@drawable/ic_iob_detailed"
            android:label="IoB Detailed"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.UploaderBattery"
            android:icon="@drawable/ic_battery_charging_wireless_50"
            android:label="Uploader/Phone Battery"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT,ICON" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.WallpaperLightComplication"
            android:icon="@drawable/ic_aaps_light"
            android:label="Light Walpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complications.WallpaperDarkComplication"
            android:icon="@drawable/ic_aaps_dark"
            android:label="Dark Walpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complications.WallpaperGrayComplication"
            android:icon="@drawable/ic_aaps_gray"
            android:label="Gray Walpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <receiver android:name=".complications.ComplicationTapBroadcastReceiver" />

        <activity
            android:name=".interaction.menus.MainMenuActivity"
            android:label="@string/label_actions_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interaction.AAPSPreferences"
            android:label="@string/menu_settings" />
        <activity
            android:name=".interaction.actions.WizardActivity"
            android:label="@string/menu_wizard" />
        <activity
            android:name=".interaction.menus.FillMenuActivity"
            android:label="@string/menu_prime_fill" />
        <activity
            android:name=".interaction.menus.StatusMenuActivity"
            android:label="@string/menu_status" />
        <activity
            android:name=".interaction.actions.BolusActivity"
            android:label="@string/action_bolus" />
        <activity
            android:name=".interaction.actions.CPPActivity"
            android:label="@string/status_cpp" />
        <activity
            android:name=".interaction.actions.AcceptActivity"
            android:label="@string/action_confirm"
            android:launchMode="singleInstance" />
        <activity
            android:name=".interaction.actions.FillActivity"
            android:label="@string/menu_prime_fill" />
        <activity
            android:name=".interaction.actions.ECarbActivity"
            android:label="@string/action_carbs" />
        <activity
            android:name=".interaction.actions.TempTargetActivity"
            android:label="@string/menu_tempt" />

        <activity android:name=".interaction.ConfigurationActivity">
            <intent-filter>
                <!-- action-name must be equal with name of xml-ressource where the configuration is describe -->
                <action android:name="watch_face_configuration_bigchart" />
                <action android:name="watch_face_configuration_circle" />
                <action android:name="watch_face_configuration_cockpit" />
                <action android:name="watch_face_configuration_digitalstyle" />
                <action android:name="watch_face_configuration_home" />
                <action android:name="watch_face_configuration_home2" />
                <action android:name="watch_face_configuration_largehome" />
                <action android:name="watch_face_configuration_nochart" />
                <action android:name="watch_face_configuration_steampunk" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
