<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-sdk tools:overrideLibrary="androidx.wear.tiles" />

    <application
        android:name=".WearApp"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".watchfaces.CircleWatchface"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/label_watchface_circle"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_circle" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.DigitalStyleWatchface"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/label_watchface_digital_style"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_digitalstyle" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />

                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <service
            android:name=".watchfaces.CustomWatchface"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/label_watchface_custom"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_custom" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />

                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <service
            android:name=".comm.DataLayerListenerServiceWear"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="@string/path_rx_bridge"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="@string/path_rx_data_bridge"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service android:name=".heartrate.HeartRateListener" />

        <service android:name=".wearStepCount.StepCountListener" />

        <service
            android:name=".complications.LongStatusComplication"
            android:exported="true"
            android:icon="@drawable/ic_aaps_full"
            android:label="@string/complication_full_status"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.LongStatusFlippedComplication"
            android:exported="true"
            android:icon="@drawable/ic_aaps_full"
            android:label="@string/complication_full_status_flipped"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.SgvComplication"
            android:exported="true"
            android:icon="@drawable/ic_sgv"
            android:label="@string/complication_blood_glucose"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.SgvComplicationExt1"
            android:exported="true"
            android:icon="@drawable/ic_sgv"
            android:label="@string/complication_blood_glucose_ext1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.SgvComplicationExt2"
            android:exported="true"
            android:icon="@drawable/ic_sgv"
            android:label="@string/complication_blood_glucose_ext2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrCobIobComplication"
            android:exported="true"
            android:icon="@drawable/ic_br_cob_iob"
            android:label="@string/complication_br_cob_iob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrCobIobComplicationExt1"
            android:exported="true"
            android:icon="@drawable/ic_br_cob_iob"
            android:label="@string/complication_br_cob_iob_ext1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrCobIobComplicationExt2"
            android:exported="true"
            android:icon="@drawable/ic_br_cob_iob"
            android:label="@string/complication_br_cob_iob_ext2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrIobComplication"
            android:exported="true"
            android:icon="@drawable/ic_br_iob"
            android:label="@string/complication_br_iob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.BrComplication"
            android:exported="true"
            android:icon="@drawable/ic_br"
            android:label="@string/complication_br"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobIobComplication"
            android:exported="true"
            android:icon="@drawable/ic_cob_iob"
            android:label="@string/complication_cob_iob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobIconComplication"
            android:exported="true"
            android:icon="@drawable/ic_carbs"
            android:label="@string/complication_cob_icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.CobDetailedComplication"
            android:exported="true"
            android:icon="@drawable/ic_cob_detailed"
            android:label="@string/complication_cob_detailed"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.IobIconComplication"
            android:exported="true"
            android:icon="@drawable/ic_ins"
            android:label="@string/complication_iob_icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.IobDetailedComplication"
            android:exported="true"
            android:icon="@drawable/ic_iob_detailed"
            android:label="@string/complication_iob_detailed"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.UploaderBatteryComplication"
            android:exported="true"
            android:icon="@drawable/ic_battery_charging_wireless_50"
            android:label="@string/complication_uploader_phone_battery"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT,ICON" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".complications.WallpaperLightComplication"
            android:exported="true"
            android:icon="@drawable/ic_aaps_light"
            android:label="Light Wallpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complications.WallpaperDarkComplication"
            android:exported="true"
            android:icon="@drawable/ic_aaps_dark"
            android:label="Dark Wallpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complications.WallpaperGrayComplication"
            android:exported="true"
            android:icon="@drawable/ic_aaps_gray"
            android:label="Gray Wallpaper"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".tile.ActionsTileService"
            android:exported="true"
            android:label="@string/label_actions_tile"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.clockwork.tiles.PROVIDER_CONFIG_ACTION"
                android:value="tile_configuration_activity" />
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/action_tile_preview" />
        </service>

        <service
            android:name=".tile.TempTargetTileService"
            android:exported="true"
            android:label="@string/label_temp_target_tile"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.clockwork.tiles.PROVIDER_CONFIG_ACTION"
                android:value="tile_configuration_tempt" />
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/temp_target_tile_preview" />
        </service>

        <service
            android:name=".tile.QuickWizardTileService"
            android:exported="true"
            android:label="@string/label_quick_wizard_tile"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/quick_wizard_tile_preview" />
        </service>

        <service
            android:name=".tile.UserActionTileService"
            android:exported="true"
            android:label="@string/label_user_action_tile"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/user_action_tiles" />
        </service>

        <service
            android:name=".tile.LoopStateTileService"
            android:exported="true"
            android:label="@string/label_loop_state_title"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/loop_states_tile" />
        </service>

        <!-- Transparent activity to handle complication taps reliably on Android 12+ -->
        <activity
            android:name=".complications.ComplicationTapActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".interaction.menus.MainMenuActivity"
            android:exported="true"
            android:label="@string/label_actions_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interaction.WatchfaceConfigurationActivity"
            android:exported="true"
            android:label="@string/menu_settings" />
        <activity
            android:name=".interaction.actions.WizardActivity"
            android:exported="true"
            android:label="@string/menu_wizard" />
        <activity
            android:name=".interaction.actions.WizardResultActivity"
            android:exported="false"
            android:theme="@style/WearAppCompatDark" />
        <activity
            android:name="androidx.wear.activity.ConfirmationActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault" />
        <activity
            android:name=".interaction.menus.FillMenuActivity"
            android:exported="true"
            android:label="@string/menu_prime_fill" />
        <activity
            android:name=".interaction.menus.StatusMenuActivity"
            android:exported="true"
            android:label="@string/menu_status" />
        <activity
            android:name=".interaction.activities.LoopStatusActivity"
            android:exported="false"
            android:theme="@style/WearAppCompatDark" />
        <activity
            android:name=".interaction.menus.PreferenceMenuActivity"
            android:exported="true"
            android:label="@string/menu_settings" />
        <activity
            android:name=".interaction.actions.TreatmentActivity"
            android:exported="true"
            android:label="@string/menu_treatment" />
        <activity
            android:name=".interaction.actions.BolusActivity"
            android:exported="true"
            android:label="@string/action_insulin" />
        <activity
            android:name=".interaction.actions.ProfileSwitchActivity"
            android:exported="true"
            android:label="@string/status_profile_switch" />
        <activity
            android:name=".interaction.actions.AcceptActivity"
            android:exported="true"
            android:label="@string/action_confirm"
            android:launchMode="singleInstance" />
        <activity
            android:name=".interaction.actions.FillActivity"
            android:exported="true"
            android:label="@string/menu_prime_fill" />
        <activity
            android:name=".interaction.actions.ECarbActivity"
            android:exported="true"
            android:label="@string/action_ecarbs" />
        <activity
            android:name=".interaction.actions.CarbActivity"
            android:exported="true"
            android:label="@string/action_carbs" />
        <activity
            android:name=".interaction.actions.TempTargetActivity"
            android:exported="true"
            android:label="@string/menu_tempt" />

        <activity
            android:name=".interaction.actions.BackgroundActionActivity"
            android:exported="true" />

        <activity
            android:name=".interaction.actions.LoopStateTimedActivity"
            android:exported="true" />

        <activity
            android:name=".interaction.ConfigurationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".interaction.TileConfigurationActivity"
            android:theme="@style/TileConfigTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="tile_configuration_activity" />
                <category android:name="com.google.android.clockwork.tiles.category.PROVIDER_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="tile_configuration_tempt" />
                <category android:name="com.google.android.clockwork.tiles.category.PROVIDER_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".interaction.actions.QuickSnoozeActivity"
            android:exported="true"
            android:icon="@drawable/ic_icon_snooze"
            android:label="@string/snooze_alert"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
