<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.insight">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name="info.nightscout.androidaps.plugins.pump.insight.activities.InsightPairingActivity"
            android:label="@string/insight_pairing"
            android:theme="@style/AppTheme" />
        <activity
            android:name="info.nightscout.androidaps.plugins.pump.insight.activities.InsightAlertActivity"
            android:label="@string/pump_alert"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/InsightAlertDialog" />
        <activity
            android:name="info.nightscout.androidaps.plugins.pump.insight.activities.InsightPairingInformationActivity"
            android:label="@string/pairing_information"
            android:theme="@style/AppTheme" />

        <service android:name="info.nightscout.androidaps.plugins.pump.insight.connection_service.InsightConnectionService" />
        <service android:name="info.nightscout.androidaps.plugins.pump.insight.InsightAlertService" />
    </application>

</manifest>