<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:supportsRtl="true">
        <service
            android:name=".service.RileyLinkMedtronicService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".dialog.MedtronicHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
