<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="app.aaps.weardata.permission" />

    <permission
        android:name="app.aaps.weardata.permission"
        android:label="AAPS WEAR DATA"
        android:protectionLevel="signature" />

    <application>

        <service
            android:name=".nsclient.services.NSClientService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".nsclientV3.services.NSClientV3Service"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".openhumans.ui.OHLoginActivity"
            android:exported="true"
            android:label="Setup Open Humans"
            android:launchMode="singleTop"
            android:theme="@style/OpenHumans">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="setup-openhumans"
                    android:scheme="androidaps" />
            </intent-filter>
        </activity>

        <receiver
            android:name="app.aaps.plugins.sync.wear.receivers.WearDataReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="app.aaps.weardata.permission">
            <intent-filter>
                <!-- Receiver from aapsclient -->
                <action android:name="app.aaps.aapsclient.weardata" />
            </intent-filter>
        </receiver>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--  Setting host bellow prevents callback because of missing /.well-known/assetlinks.json                  android:host=""-->
                <data
                    android:path="/callback/tidepool"
                    android:scheme="aaps"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.aaps.plugins.sync.tidepool.auth.AuthFlowIn"
            android:exported="true" />

    </application>

</manifest>