<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_MMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="sugar.free.sightremote.HISTORY_BROADCASTS" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- To receive data from xdrip. -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesActivity" />
        <activity
            android:name=".plugins.Overview.Dialogs.BolusProgressHelperActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".plugins.Overview.Dialogs.ErrorHelperActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".AgreementActivity" />
        <activity android:name=".plugins.PumpDanaR.activities.DanaRHistoryActivity" />
        <activity android:name=".TDDStatsActivity" />
        <activity android:name=".plugins.Overview.activities.QuickWizardListActivity">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.plugins.Overview.activities.QuickWizardListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".plugins.PumpDanaRS.activities.BLEScanActivity">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.plugins.PumpDanaRS.activities.BLEScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".plugins.PumpDanaRS.activities.PairingHelperActivity" />
        <activity android:name=".HistoryBrowseActivity" />

        <receiver
            android:name=".receivers.DataReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- Receive new SMS messages -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!-- Receiver from xDrip -->
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
                <!-- Receiver from 640g uploader -->
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
                <!-- Receiver from glimp -->
                <action android:name="it.ct.glicemia.ACTION_GLUCOSE_MEASURED" />
                <!-- Receiver from DexcomG5 -->
                <action android:name="com.dexcom.cgm.DATA" />
            </intent-filter>
        </receiver>
        <!-- Receiver keepalive, scheduled every 30 min -->
        <receiver android:name=".receivers.KeepAliveReceiver" />

        <!-- Auto start -->
        <receiver
            android:name=".plugins.NSClientInternal.receivers.AutoStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- NSClient -->
        <receiver
            android:name=".plugins.NSClientInternal.receivers.RestartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="info.nightscout.client.RESTART" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".plugins.NSClientInternal.receivers.DBAccessReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="info.nightscout.client.DBACCESS" />
            </intent-filter>
        </receiver>

        <!-- Network change local receiver -->
        <receiver android:name=".receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Service processing incomming data -->
        <service
            android:name=".Services.DataService"
            android:exported="false" />
        <service
            android:name=".plugins.PumpDanaR.services.DanaRExecutionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".plugins.PumpDanaRKorean.services.DanaRKoreanExecutionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".plugins.PumpDanaRv2.services.DanaRv2ExecutionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".plugins.PumpDanaRS.services.DanaRSService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".plugins.Wear.wearintegration.WatchUpdaterService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".plugins.NSClientInternal.services.NSClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.AlarmSoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".plugins.Overview.notifications.DismissNotificationService"
            android:exported="false"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="59d462666c664c57b29e1d79ea123e01f8057cfa" />

    </application>

</manifest>