<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name="app.aaps.pump.common.dialog.RileyLinkBLEConfigActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="app.aaps.pump.common.dialog.RileyLinkBLEConfigActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="app.aaps.pump.common.hw.rileylink.dialog.RileyLinkStatusActivity"
            android:exported="false"
            android:label="@string/title_activity_rileylink_settings"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
