<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.plugins.pump.omnipod.common">

    <application>
        <activity android:name=".ui.wizard.activation.PodActivationWizardActivity" />
        <activity android:name=".ui.wizard.deactivation.PodDeactivationWizardActivity" />
    </application>
</manifest>