<configuration>
    <!-- Create a file appender for a log in the application's data directory -->
    <property name="EXT_FILES_DIR" scope="context" value="/storage/emulated/0/Documents/aapsLogs" />
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXT_FILES_DIR}/AndroidAPS.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hourly rollover. Log files will be placed in Documents/aapsLogs. -->
            <fileNamePattern>${EXT_FILES_DIR}/AAPSWear._%d{yyyy-MM-dd_HH}.zip</fileNamePattern>

            <!-- keep 5 days (hourly archives) worth of history -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %.-1level/%logger: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%thread]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Write INFO (and higher-level) messages to the log file -->
    <root level="DEBUG">
        <appender-ref ref="file" />
        <appender-ref ref="logcat" />
    </root>
</configuration>
