<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.dana">

    <application>
        <activity
            android:name="info.nightscout.androidaps.dana.activities.DanaHistoryActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="info.nightscout.androidaps.dana.activities.DanaUserOptionsActivity"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
